.white-normal { color: oklch(0.78 0.00 0); } /* #b7b7b7 */
.black-bright { color: oklch(0.50 0.00 0); } /* #636363 */

.red {
	.lightest { color: oklch(0.95 0.02 25); } /* #fceae8 */
	.lighter  { color: oklch(0.85 0.06 25); } /* #f3bfba */
	.light    { color: oklch(0.78 0.11 25); } /* #f69b94 */
	.regular  { color: oklch(0.71 0.16 25); } /* #f5746d */
	.dark     { color: oklch(0.50 0.11 25); } /* #984742 */
	.darker   { color: oklch(0.30 0.06 25); } /* #47211e */
	.darkest  { color: oklch(0.10 0.02 25); } /* #080202 */
}

.green {
	.lightest { color: oklch(0.95 0.02 150); } /* #e6f3e8 */
	.lighter  { color: oklch(0.85 0.06 150); } /* #b3d9b9 */
	.light    { color: oklch(0.78 0.11 150); } /* #82cb92 */
	.regular  { color: oklch(0.71 0.16 150); } /* #46bc69 */
	.dark     { color: oklch(0.50 0.11 150); } /* #2b7440 */
	.darker   { color: oklch(0.30 0.06 150); } /* #14361d */
	.darkest  { color: oklch(0.10 0.02 150); } /* #010502 */
}

.yellow {
	.lightest { color: oklch(0.95 0.02 105); } /* #f0f0e0 */
	.lighter  { color: oklch(0.85 0.06 105); } /* #d3d1a3 */
	.light    { color: oklch(0.78 0.11 105); } /* #c2bb64 */
	.regular  { color: oklch(0.71 0.16 105); } /* #b1a600 */
	.dark     { color: oklch(0.50 0.11 105); } /* #6d6600 */
	.darker   { color: oklch(0.30 0.06 105); } /* #322f04 */
	.darkest  { color: oklch(0.10 0.02 105); } /* #040300 */
}

.blue {
	.lightest { color: oklch(0.95 0.02 245); } /* #e4f0fb */
	.lighter  { color: oklch(0.85 0.06 245); } /* #aed3f3 */
	.light    { color: oklch(0.78 0.11 245); } /* #78bff9 */
	.regular  { color: oklch(0.71 0.16 245); } /* #32a9fe */
	.dark     { color: oklch(0.50 0.11 245); } /* #1f689d */
	.darker   { color: oklch(0.30 0.06 245); } /* #0f304a */
	.darkest  { color: oklch(0.10 0.02 245); } /* #010408 */
}

.magenta {
	.lightest { color: oklch(0.95 0.02 325); } /* #f6eaf6 */
	.lighter  { color: oklch(0.85 0.06 325); } /* #e3c1e4 */
	.light    { color: oklch(0.78 0.11 325); } /* #db9fde */
	.regular  { color: oklch(0.71 0.16 325); } /* #d27bd8 */
	.dark     { color: oklch(0.50 0.11 325); } /* #824b85 */
	.darker   { color: oklch(0.30 0.06 325); } /* #3d233e */
	.darkest  { color: oklch(0.10 0.02 325); } /* #060206 */
}

.cyan {
	.lightest { color: oklch(0.95 0.02 195); } /* #e0f3f3 */
	.lighter  { color: oklch(0.85 0.06 195); } /* #a0dbda */
	.light    { color: oklch(0.78 0.11 195); } /* #4fcdcd */
	.regular  { color: oklch(0.71 0.16 195); } /* #00bcbc */
	.dark     { color: oklch(0.50 0.11 195); } /* #007576 */
	.darker   { color: oklch(0.30 0.06 195); } /* #003737 */
	.darkest  { color: oklch(0.10 0.02 195); } /* #000505 */
}
